html, body {
  margin: 0;
  padding: 0;
  width:100%;
  height:100%;
}

body {
  background: #5c8459 url('img/background.png');
  font-family: Sans-Serif;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
}

@import 'welcome.less';
@import 'game.less';